<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Care Finder Results PDF</title>
    @{ await IncludeAsync("_Styles.cshtml", null); }
</head>
<body>

    <h1>@Model.Title</h1>

    <p>@Model.Description</p>

    <h3>Loop on data set test</h3>

    <ul>
        @foreach (var item in Model.Results)
        {
            <li>@item</li>
        }
    </ul>

    <h3>Table CSS Test</h3>

    <table class="data">
        <tr>
            <th>Entry Header 1</th>
            <th>Entry Header 2</th>
            <th>Entry Header 3</th>
            <th>Entry Header 4</th>
        </tr>
        <tr>
            <td>Entry First Line 1</td>
            <td>Entry First Line 2</td>
            <td>Entry First Line 3</td>
            <td>Entry First Line 4</td>
        </tr>
        <tr>
            <td>Entry Line 1</td>
            <td>Entry Line 2</td>
            <td>Entry Line 3</td>
            <td>Entry Line 4</td>
        </tr>
        <tr>
            <td>Entry Last Line 1</td>
            <td>Entry Last Line 2</td>
            <td>Entry Last Line 3</td>
            <td>Entry Last Line 4</td>
        </tr>
    </table>


    <p>Timestamp: @DateTime.Now</p>
</body>
</html>