<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test PDF</title>

    <style>
        body {
            font-family: sans-serif;
        }

        h1 {
            color: red
        }
    </style>

</head>
<body>
    <h1>@Model.Title</h1>

    <p>@Model.Description</p>

    <p>Timestamp: @DateTime.Now</p>
</body>
</html>